.card_wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-height: 551px;
	max-width: 421px;
	width: 100%;
	height: 100%;
	margin: 0;

	border: 3px solid #f2f2f2;
	color: #232323;

	img {
		height: 441px;
		object-position: left bottom;
	}
}

.hero_info {
	padding: 0 28px 28px;

	.name {
		font-weight: 700;
		font-size: 19px;
		line-height: 147%;
	}
}
